@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
    ViewBag.Header = "Assignment 2 Home Page";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="headerdiv" style="text-align:center;">
                    <h2>My preferred name is Adam</h2>
                    <img src="~/img/me_golfing.PNG" />
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row row2">
            <div class="col-8">
                <p class="paragraph">
                    I am excited about this class. I think it will be a great opportunity for me to develop new programming skills.
                    After my freshman and throughout my sophomore year I had an internship with 1800contacts as a software engineer.
                    Most software developers at 1800 were programming in C#.
                    I tried to pick up on a lot of C# but wasn’t able to learn a whole lot because I had other assignments.
                    I hope to feel more comfortable in the C# language as I take this class.
                    I also hope to gain more confidence in my programming and problem-solving abilities.
                    Something I am interested in is pursing a development career and I feel this class can help me decide if that is something I want to do.
                </p>
            </div>
            <div class="col-4">
                <div style="font-size:30px">My Top Jobs</div>
                <ol>
                    <li>IT Consultant</li>
                    <li>Software Developer</li>
                    <li>Data Analyst</li>
                </ol>
            </div>
        </div>
    </div>
        <br />
    <br />
</body>
